/.idea

# iml in main directory
/Bootstrap.iml
/Core.iml
/Database.iml
/Java.iml
/Kotlin.iml
/Message.iml
/Utility.iml

#iml in subdirectories
/Core/Core.iml
/Core/Bootstrap/Bootstrap.iml
/Core/Database/Database.iml
/Core/Kotlin/Kotlin.iml
/Core/Message/Message.iml
/Core/Utility/Utility.iml

# target folders
/Core/Bootstrap/target
/Core/Database/target
/Core/Kotlin/target
/Core/Message/target
/Core/Utility/target